*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, .5);
}

header,
main section{
  width: calc(100% - 230px);
}

aside{
  width: 230px;
  background-color: black;
}

main aside,
main section{
  height: calc(100vh - 90px);
}

main section{
  background-color: #141922;
  padding-top: 100px;
  color: white;
  overflow-y: auto;
}

footer{
  width: 100%;
  height: 90px;
  background-color: #282828;
}