*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

/* ------ */

header{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: row-reverse;
  align-items: flex-start;
}

header,
section{
  width: calc(100% - 230px);
}

aside{
  width: 230px;
  background-color: black;
  color: #6b6b6b;
}

aside,
section{
  height: calc(100vh - 90px);
}

section{
  background-color: #141922;
  padding-top: 100px;
  color: white;
  overflow-y: auto;
}

footer{
  width: 100%;
  height: 90px;
  background-color: #282828;
}