/*-------------------- HEADER -------------------- */

header .btn{
  border: 1px solid white;
  border-radius: 50px;
  padding: 9px 40px 12px 40px;
  margin: 20px;
  transition: transform .15s;
  z-index: 999;
}

header .btn:hover{
  transform: scale(1.15);
}

header a{
  text-transform: uppercase;
  font-size: 13px;
}

/*-------------------- ASIDE -------------------- */

.aside-top{
  /* height: calc(100% - 70px); */
  height: 273px;
}

.aside-center{
  height: calc(100% - 273px - 73px);
  overflow-y: auto;
}

.aside-bottom{
  height: 73px; 
}

/* Logo settings */

aside .logo{
  width: 70%;
  margin-bottom: 20px;
}

aside .logo img{
  width: 100%;
}

.logo #big{
  display: block;
}

.logo #small{
  display: none;
}

/* Navbar */

aside nav{
  margin: 0 0 19px -20px;
}

aside nav img{
  width: 26px;
  vertical-align: middle;
}

aside nav li{
  padding: 4.5px 20px;
  font-size: 13px;
}

aside nav li.active{
  border-left: 3px solid #baff30;
  padding-left: 17px;
}

aside nav li.active span{
  color: white;
}

/* Playlist list */

aside h3{
  font-size: 14px;
  margin-bottom: 11px;
  color: white;
}

aside .btn{
  align-items: center;
}

.plus-square{
  display: inline-flex;
  width: 37px;
  height: 37px;
  margin-right: 10px;
  background-color: #a3a3a3;
  font-size: 34px;
  color: black;
}

aside .btn.white-hover:hover .plus-square{
  background-color: white;
}

aside .playlists li{
  font-size: 13px;
  margin-bottom: 19px;
}

aside .playlists li:last-of-type{
  margin-bottom: 0;
}

/* Aside bottom */

.aside-bottom .download{
  font-size: 13px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 14px;
}

.aside-bottom .download img{
  width: 15px;
  margin-right: 10px;
}

.aside-bottom .account{
  align-items: center;
  color: white;
}

.aside-bottom .account .profile-pic{
  width: 25px;
  height: 25px;
  background-color: #808080;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 9px;
}

.profile-pic img{
  width: 100%;
}

/*-------------------- ALBUMS SECTION -------------------- */

/* Navbar */

.albums nav{
  margin-top: 107px;
  color: #808080;
}

.albums nav ul{
  text-align: center;
}
.albums nav li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 8px 35px 9px;
}

.albums nav li.active .active-bar{
  display: block;
}

.active-bar{
  margin: 3px auto 0 auto;
  height: 2px;
  width: 30px;
  background-color: #baff30;
  display: none;
}

/* Albums */

.albums .content-title p,
.album p{
  color: #808080;
}

.albums .content-title{
  margin-bottom: 29px;
}

.albums .content-title p{
  font-size: 13px;
  margin-top: 9px;
}

.albums .content{
  width: 100%;
  min-height: 30px;
  flex-wrap: wrap;
}

.albums .content .album{
  width: calc((100% / 6) - 14px);
  margin: 0 14px 0 0;
  min-height: 50px;
}

.album .thumbnail{
  width: 100%;
  position: relative;
  margin-bottom: 13px;
  cursor: pointer;
}

.thumbnail i{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .15s linear;
}

.album .thumbnail.play:hover i{
  opacity: 1;
}

.album img{
  width: 100%;
  transition: all .15s linear;
}

.album .thumbnail.play:hover img{
  filter: brightness(50%);
}

.album h3{
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.album h3:last-child{
  margin-bottom: 30px;
}

.album p{
  font-size: 12px;
  text-align: center;
  margin-bottom: 34px;
}

.album.circle img{
  border-radius: 50%;
}

/*-------------------- FOOTER -------------------- */

/* Currently playing */

.currently-playing{
  align-items: center;
  color: #808080;
}

.currently-playing img{
  width: 42px;
}

.currently-playing .titles{
  margin: 0 43px 0 12px;
}

.currently-playing .titles h3{
  color: white;
  font-size: 13px;
}

.currently-playing .titles p{
  font-size: 10px;
}

.currently-playing .titles p:hover{
  text-decoration: underline;
}

.currently-playing .icons-btn{
  flex-wrap: wrap;
}

.currently-playing .icons-btn i:first-of-type{
  margin-right: 14px;
}

/* Player - controls */

.player{
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.player .controls{
  align-items: center;
  margin-bottom: 12px;
}

.player .controls i{
  cursor: pointer;
}

.player .controls .fa-circle-play{
  font-size: 30px;
  margin: 0 32px;
  transition: transform .15s;
}

.player .controls .fa-circle-play:hover{
  transform: scale(1.15);
}

.player .controls .fa-shuffle,
.player .controls .fa-forward-step{
  margin-right: 22px;
}

/* Player - timeline */

.timeline{
  align-items: center;
}

.timeline .timestamp{
  font-size: 10px;
}

.timeline .full-bar{
  margin: 0 27px;
}

.full-bar#w-player{
  width: 29.73vw;
}

.full-bar#w-player .inside-bar{
  width: 20%;
}

/* Other-controls */

.other-controls{
  align-items: center;
}

.other-controls i{
  font-size: 13px;
}

.other-controls .fa-display{
  margin: 0 17px;
}

.full-bar#w-controls{
  margin-left: 1vw;
  width: 8.2vw;
}

.full-bar#w-controls .inside-bar{
  width: 20%;
}

/*-------------------- MEDIA QUERIES -------------------- */

/* Correzione stringimento footer (per arrivare intorno ai 500px) */

@media screen and (max-width:664px) {

  .currently-playing img{
    width: 6vw;
  }

  .currently-playing .titles{
    margin-right: 1.5vw;
  }

  .other-controls .fa-display{
    margin: 0 2.5vw;
  }
}

/* Primo breakpoint: 1100px */

@media screen and (max-width:1099px) {
  .albums .content .album{
    width: calc((100% / 4) - 14px);
  }
}

/* Secondo breakpoint: 700px */
@media screen and (max-width:699px) {
  .albums .content .album{
    width: calc((100% / 2) - 14px);
  }
}

/* Terzo breakpoint: 600px */
@media screen and (max-width:599px) {

  /* Ridimensionamento sezioni */
  aside{
    width: 50px;
    padding: 5px 0;
  }

  header,
  .albums{
    width: calc(100% - 50px);
  }

  .aside-center{
    height: calc(100% - 273px - 65px);
    overflow-y: auto;
  }
  
  .aside-bottom{
    height: 65px; 
  }
  

  /* Cambio Logo */

  aside .logo{
    width: 100%;
    padding: 0 11px 0 11px;
    margin-bottom: 10px;
  }

  .logo #big{
    display: none;
  }
  
  .logo #small{
    display: block;
  }

  /* Cambio contenuto aside center */

  aside nav{
    margin-left: 0;
  }

  aside nav li{
    padding: 4.5px 0 4.5px 12px;
  }

  aside nav li.active{
    border-left: 0 solid transparent;
    padding-left: 12px;
  }

  aside nav li span{
    display: none;
  }

  .playlists-top,
  .playlists{
    display: none;
  }

  /* Cambio contenuto aside bottom */

  .aside-bottom .download img,
  .aside-bottom .account .profile-pic{
    margin-left: auto;
    margin-right: auto;
  }

  .aside-bottom .download{
    border-bottom: none;
    margin-bottom: 10px;
  }

  .aside-bottom span{
    display: none;
  }
}